<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third mt-5">
      <label class="has-text-danger has-text-centered" style="padding-left:25%">تولید رمز عبور در محیط ایمن
      </label>
      <hr>
      <h1 class="title has-text-centered">رمز ساز ایمن</h1>
      <div class="field is-pulled-right">
        <div class="control">
          <label class="checkbox">
            <input (input)="onChangeLength($event)" type="number" value="6" min="1" max="15" />
            تعداد کاراکتر
          </label>
        </div>
      </div>
      <div class="is-clearfix"></div>
      <div class="field is-pulled-right">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" checked />
            شامل حروف کوچک
          </label>
        </div>
      </div>
      <div class="is-clearfix"></div>
      <div class="field is-pulled-right">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseUpperLetters()" type="checkbox" checked />
            شامل حروف بزرگ
          </label>
        </div>
      </div>
      <div class="is-clearfix"></div>
      <div class="field is-pulled-right">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" checked />
            شامل اعداد
          </label>
        </div>
      </div>
      <div class="is-clearfix"></div>
      <div class="field is-pulled-right">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" checked />
            شامل نمادها
          </label>
        </div>
      </div>
      <div class="is-clearfix"></div>
      <button [disabled]="
          ( (includeLetters==false && includeUperLetters==false && includeNumbers==false && includeSymbols==false))
        " (click)="onButtonClick()" class="button is-link is-fullwidth">
        ساختن رمز ایمن
      </button>

      <div class="box" *ngIf="password">
        <label class="has-text-success has-background-dark is-pulled-right">رمز عبور در کلیپ بورد شما ذخیره شد</label>
        <hr>
        <label class="is-pulled-right">رمز عبور شما</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
