/* You can add global styles to this file, and also import other style files */
/*@import "bulma/css/bulma.css";*/

body {
  font-family: "Tahoma";
}
.outlet-wrapper {
  background-image: url("/assets/back-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}
label {
  font-size: 1.3em;
}
input {
  font-size: 1.1em;
}
